/*style for showing in slider way*/
.rp-container {
    padding: 20px;
    display: block;
    width: 100%;
margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e5e8f3;
}
.rp-wrapper {
    background: #fff;
    margin:10px auto 15px auto;
    border-radius: 5px;
    border: 1px solid #e5e8f3;
    transition:all .4s ease-in-out;

}
.rp-wrapper:hover {
    box-shadow: 0 0 8px 0 #dfdddd;
}
.rp-wrapper p {
    margin:5px 10px 10px 0;
    line-height: 2;
    min-height: 56px;
}
.rp-wrapper img {
    max-width: 100%;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


/*style for showing in list way*/
.rp-wrapper-list {
background: #fff;
margin:30px auto 0 0!important;

}

.rp-wrapper-list a:hover li {
    background-color:#fbfafa;
    padding-right: 5px;
}

li.rp-list-item {
margin-top: 14px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

li.rp-list-item img {
width: 80px;
    height: auto;
    margin-left: 12px;
    border-radius: 5px;
}